@font-face {
  font-family: 'Star Jedi';
  src: url('font/Starjedi.ttf');
}

body {
  margin: 0;
  padding: 0;
  background-color: #09092b;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  width: 75%;
  margin: 2.5em auto 0 auto;
}

header h1 {
  margin: 0 0 3%;
  text-align: center;
  font-size: 2.75em;
  color: yellow;
  font-family: 'Star Jedi';
  border: 4px solid yellow;
  padding: 0 7px 9px 18px;
  border-radius: 7px;
  line-height: 0.9em;
}

form > * {
  margin: 0 5px;
}

select {
  height: 2em;
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid white;
  color: #fff;
}

form { margin: 10px 0; text-align: center }

select option { color: #000 }

input[type="text"] {
  width: 60%;
  height: 1.7em;
  padding: 0px 5px;
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid white;
  color: #fff;
}

button[type="submit"] {
  height: 2em;
  width: 100%;
  background-color: #fff;
  border: 0;
  cursor: pointer;
  margin: 15px 0;
}

.searchForm {
  height: 75vh;
  margin: 5em 0 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 1s ease 0s;
}

.searchForm.minimized { height: 15vh }

.results {
  transition: 1s ease 0s;
  opacity: 1;
  max-height: 750px;
  overflow: hidden;
}

.results.hidden {
  opacity: 0;
  max-height: 0;
}

.results li {
  color: #fff;
}

.clearSearch {
  float: right;
  background-color: transparent;
  border: 0;
  color: red;
  cursor: pointer;
}

.loaderMsg {
  text-align: center;
  color: purple;
  animation: loader infinite .5s linear;
}

.errMsg {
  text-align: center;
  color: red;
}

@keyframes loader {
  from {
    color: blue;
  }
  to {
    color: white;
  }
}