@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');
@font-face {
  font-family: 'Star Jedi';
  src: url('font/Starjedi.ttf');
}

body {
  margin: 0;
  padding: 0;
  background-color: #09092b;
  font-family: "Inconsolata", sans-serif;
  background: url('http://ilcsi-gif.portfolioz.net/galeria/csillagok/4/333.gif');
  background-size: 85%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  width: 75%;
  margin: 2.5em auto 0 auto;
  display: flex;
  flex-direction: column;
}

header { text-align: center }

header h1 {
  margin: 0 0 0.15em;
  text-align: center;
  font-size: 2.75em;
  color: yellow;
  font-family: 'Star Jedi';
  border: 4px solid yellow;
  padding: 0 7px 9px 18px;
  border-radius: 7px;
  line-height: 0.9em;
}

small {
  color: #a9a974;
  font-size: 0.7em;
}

form {
  width: 75%;
  max-width: 30em;
  margin: 1.5em 0;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
}

form > * {
  margin: 0 5px 10px 5px;
}

select {
  height: 2em;
  background-color: transparent;
  border: 0;
  color: #fff;
  font-family: inherit;
  font-weight: bold;
  flex: 1;
}

select option { color: #000 }

input[type="text"] {
  width: 60%;
  height: 1.8em;
  padding: 0px 5px;
  border: 0;
  border-bottom: 3px solid gray;
  border-radius: 3px;
  font-family: inherit;
  flex: 3 1 10em;
}

em { color: yellow }

button {
  height: 2em;
  width: 92%;
  background-color: #fff;
  border: 0;
  cursor: pointer;
  font-family: inherit;
  border-radius: 3px;
  border-bottom: 3px solid gray;
  flex: 2;
}

button:hover { font-weight: bold; cursor: pointer }

.searchForm {
  height: 65vh;
  margin: 5em 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 1s ease 0s;
}

.searchForm.minimized { height: 20rem; }

@media only screen and (min-width: 426px) {
  .searchForm.minimized { height: 10rem; }
}

.results {
  transition: 1s ease 0s;
  opacity: 1;
  max-height: 750px;
}

.results.hidden {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}

.results ul {
  max-width: 20em;
  margin: 0 auto;
  list-style-type: none;
  padding: 0;
  font-size: 1.3em;
}

.result {
  display: flex;
  flex-direction: column;
  margin: 0 0 1.75em;
  color: #fff;
}

.result p {
  margin: 0.5em 0;
  font-weight: bold;
  font-size: 0.75em;
  color: rgb(70, 165, 165);
}

.result p span {
  font-weight: normal;
  font-style: italic;
  color: lightgray;
}

.clearSearch {
  background-color: transparent;
  border: 0;
  color: red;
  cursor: pointer;
  margin: 0 auto 3em auto;
  display: block;
}

.loaderMsg {
  text-align: center;
  color: purple;
  animation: loader infinite .5s linear;
}

.errMsg {
  text-align: center;
  color: red;
}

.notFoundMsg {
  color: white;
  text-align: center;
}

@keyframes loader {
  from {
    color: blue;
  }
  to {
    color: white;
  }
}